/* Global page colors */
body {
    background-color: black;
    color: Goldenrod;
    margin: 0;
    padding: 0;
}

/* Header centered at top */
header {
    background-color: #2b81a6;
    color: rgb(255, 253, 253);
    padding: 20px;
    text-align: center;
}

.project-title {
    color: Goldenrod;
    margin-bottom: 20px;
}

/* Project container: keeps your project centered and unaffected */
.project-container {
    max-width: 600px;
    margin: 40px auto;   /* centers project content */
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: black;   
    margin-bottom: 15px;
}

/* Navigation bar at the bottom */
nav {
    background-color: #37bcf5;
    padding: 15px;
    text-align: center;
    margin-top: 40px;    /* spacing above nav */
}

nav h2 {
    margin-bottom: 15px;
}

/* Flex container for nav links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Navigation boxes */
.nav-links a {
    background-color: #2b81a6;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;
}

.nav-links a:hover {
    background-color: #1a5c75;
    transform: scale(1.05);
}

footer {
    background-color: #d37c10;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

/* Meme image */
#meme {
    width: 150px;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

/* Tacocat image */
#tacocat {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

#tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}